body{
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

.containerpagefour {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.QuestionsCreator {
    margin-top: 132px;
}
.QuestionsCreator h4{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    padding-bottom:  38px;
}

.QuestionNumber{
    margin-top: 36px;
}
.ToClick{
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    margin-left: 19px;
    margin-right:17px;
    margin-bottom: 12px;
}

.ToClick h3{
   font-size: 20px;
   font-weight: 700;
   line-height: 23px;
}
ion-icon{
   height: 23px;
   width: 25px;
   cursor: pointer;
}
.QuestionConfig{
    display: flex;
    flex-direction: column;
}

input{
    width: 564px;
    height: 46px;
    border-radius: 5px;
    border:  solid 1px #D1D1D1;
    background-color: #FFFFFF;
    color: #BABABA;
    font-style: italic;
    line-height: 22px;
    font-size: 19px;
    font-weight: 400;
    margin-left: 19px;
    margin-right:17px;
    margin-bottom: 5px;
    padding-left: 23px;
}

.QuizzAnswers{
    display: flex;
    flex-direction: column;
}

.QuizzAnswers h3{
    margin-left: 19px;
    margin-right:17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 28px;
    margin-bottom: 14px;
}

.WrongAnswers{
    display: flex;
    flex-direction: column;
}

.WrongAnswers h3{
    margin-left: 19px;
    margin-right:17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 28px;
    margin-bottom: 14px;
}

.thebuttom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 468px;
}
button{
    background-color: #EC362D;
    height: 54px;
    width: 368px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
}