body{
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

main{
    padding-top:140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}

.insidethesection {
    position: relative;
}

.outsidethesection{
    position: absolute;
}

.outsidethesection h3{
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
    
}

button{
    background-color: #EC362D;
    height: 54px;
    width: 368px;
    border-radius: 15px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
    margin-bottom: 10px;
}

.home{
    margin-bottom: 166px;
}

.home a{
   font-size: 21px;
   font-weight: 400;
   line-height: 25px;
   color: #818181;
   text-decoration: none;
}